FileNetImport/src/main/resources/Set1_CEExport_Manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Required" type="xs:boolean"/>
  <xs:element name="SourceObjectStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Id"/>
        <xs:element ref="Required"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="C:\Documents and Settings\Administrator.ECOD\Desktop\FN4\Set1_CEExport_Group1_1.xml
        "/>
        <xs:enumeration value="C:\Documents and Settings\Administrator.ECOD\Desktop\FN4\Set1_CEExport_Group1_2.xml
        "/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Id" type="xs:string"/>
  <xs:element name="ContentLocation">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:boolean" name="external"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportDescriptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SourceObjectStore"/>
        <xs:element ref="ContentLocation"/>
        <xs:element ref="ImportData"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="SourceSysVersion"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FileName" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>