trunk/sws/src/main/webapp/WEB-INF/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        targetNamespace="http://www.persons.pav/data">

    <element name="dataRequest">
        <complexType>
            <sequence>
                <element name="requestType" type="integer"/>
                <element name="article" type="string"/>
                <element name="attribute" type="string"/>
            </sequence>
        </complexType>
    </element>

    <element name="dataResponse" type="string"/>
</schema>