trunk/sws/src/main/webapp/WEB-INF/link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        targetNamespace="http://www.persons.pav/link">

    <element name="linkRequest">
        <complexType>
            <sequence>
                <element name="requestType" type="integer"/>
                <element name="type" type="string"/>
                <element name="url" type="string"/>
            </sequence>
        </complexType>
    </element>

    <element name="linkResponse" type="string"/>
</schema>